.about {
  padding: 100px 0;
  background-color: #f7f9fc;
}

.about__data .about__title {
  float: inline-start;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(190, 63%, 18%);
  margin-bottom: 20px;
}

.about__description {
  float: inline-start;
  font-size: 1rem;
  color: hsla(190, 63%, 18%, 0.751);
  margin-bottom: 30px;
}

.about__data .btn {
  float: inline-start;
  background-color: hsl(190, 63%, 18%);
  border: none;
  padding: 10px 20px;
  width: 200px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0;
}

.about__img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__img-wrapper {
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
}
.about__img-one,
.about__img-two {
  transition: 0.3s;
}
.about__img-one:hover,
.about__img-two:hover {
  transform: scale(1.1);
}
.about__img-one {
  width: 80%;
  height: auto;
}
.about__img-two {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .about__img-container {
    flex-direction: row;
  }

  .about__img-wrapper {
    padding: 0;
    margin-bottom: 20px;
  }
}
